.form {
    width: 400px;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #343232;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-field {
    margin-bottom: 10px;
}
.input-field label {
    display: block;
    margin-bottom: 5px;
}
.input-field input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}
input[type="submit"] {
    margin-top: 20px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.container a{
    margin-left: 38%;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}

.input-field.success input{
    border-color: #09c372;
}

.input-field.error input {
    border-color: #ff3860;
}

.input-field .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}

.option {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    font-size: 0.8rem;
}
.forgot-password {
    text-align: center;
    margin-top: 10px;
    font-size: 0.8rem;
}

footer {
    padding: 10px;
    text-align: center;
    color: white;
    background-color: rgb(27, 27, 26);
}

@media(max-width: 768px){
    .form{
        width: 50%;
    }
}

@media(max-width: 320px){
    .container{
        width: 30%;
    }
}